In [1]:
# Function 
# lets create function with docstring

def is_even(num):
    '''
    this function is return if a given number is even or odd
    input : Any valid integer
    output : odd/even
    created on 26 Aug
    '''
    
    if type(num) == int:
    
        if num%2 == 0:
            return "even"
        else:
            return "odd"
    else:
            return "plz enter number"

In [2]:
is_even(3)
is_even('asd')

'plz enter number'

In [3]:
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [4]:
# parameter vs arguments
# creates the function (parameter) vs used the function arguments

# types of arguments
# 1. default
# 2. keyword
# 3. positional

In [5]:
def power(a,b):
    return a**b

In [6]:
power(2)

TypeError: power() missing 1 required positional argument: 'b'

In [ ]:
# default parameter
def power(a=1,b=1):
    return a**b 

power(2)

In [ ]:
power()

In [7]:
# positional aurguments
power(2,3)

8

In [24]:
# keyword arguments
power(b=4, a=2)

16

In [25]:
# args nad kwargs

In [27]:
# args : allow us to pass variable number of non keyword arguments to a function

# def multi(*args):
#     product = 1
    
#     for i in args:
#         product = product * i
        
#     return product

def multi(*args):
    product = 1
    
    for i in args:
        product = product*i
        print(args)
    return product

In [28]:
multi(2,3,4,5)

(2, 3, 4, 5)
(2, 3, 4, 5)
(2, 3, 4, 5)
(2, 3, 4, 5)

120

In [18]:
# check function details

print(multi.__doc__)
print(is_even.__doc__)

None

    this function is return if a given number is even or odd
    input : Any valid integer
    output : odd/even
    created on 26 Aug

In [33]:
# *kwargs
# allow us to pass any number of keyword arguments
# kwargs means dictionary like key-pair

def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key, '->', value)
    return kwargs
display(Pakistan = "Karachi", India="Dehli")

Pakistan -> Karachi
India -> Dehli

{'Pakistan': 'Karachi', 'India': 'Dehli'}

In [35]:
L = [1,2,3]
print(L.append(4)) #not return required print
print(L)

None
[1, 2, 3, 4]

In [36]:
# nested function

def f():
    def g():
     print("inside g")
    g()
    print("inside f")

f()

inside g
inside f

In [13]:
# list, tuple also 1st class citizen

# function is also a data type

def square(num):
    num**2
    
    return num

In [14]:
# id & type
square(4)
print(type(square))
print(id(square))

<class 'function'>
2418937726432

In [15]:
# reassign
x = square
id(x)

2418937726432

In [16]:
x(3)

3

In [11]:
del square

In [17]:
# storing
l = [1,2,3,4,square]
print(l)

[1, 2, 3, 4, <function square at 0x0000023333EC85E0>]

In [18]:
l[-1](3)

3

In [22]:
# lambda function

a = lambda x:x**2
print(a)
a(2)

<function <lambda> at 0x0000023333EC8160>

4

In [26]:
b = lambda x,y:x+y
b(5,3)

8

In [ ]:
# difference b/w lambda and normal function
# no name
# n0 return
# 1 line code
# not reusable

# only used in HOF

In [62]:
# check string

a = lambda s: 'a' in s
a("khan")
# print(list(a))
# list(a)

True

In [30]:
# even/odd
c = lambda x: "even" if x%2==0 else "odd"
c(5)

'odd'

In [36]:
# Higher order function
# recieved another function
# def square(num):
#     return num**2
    
# def transform(f,L):
#     output = []
#     for i in L:
#         output.append(f(i))
#         print(output)
        
# L = [1,2,3,4,5]
# transform(square,L)
      
def square(num):
    return num**2

def transform(f,l):
    output = []
    for i in l:
        output.append(f(i))
        print(output)
l = [1,2,3]
transform(square,l)

[1]
[1, 4]
[1, 4, 9]

In [34]:
# Map
def myfunc(n):
    return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
print(list(x))

[5, 6, 6]

In [38]:
# square example
list(map(lambda x: x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [40]:
# even/odd
l = [1,2,3,4,5]
list(map(lambda x : 'even' if x%2==0 else 'odd',l))

['odd', 'even', 'odd', 'even', 'odd']

In [56]:
# map in dic (each)

dic = {
    'name' : 'Gulzar',
    'age' : 25
},
{
    'name' : 'kashan',
    'age' : 26
}

list(map(lambda dic:dic['age'],dic))

[25]

In [68]:
# filter (selected)
# find number grater than 5
L = [1,2,3,4,5,6,7,8]
list(filter(lambda x:x>5,L))
list(filter(lambda y:y<5,L))

[1, 2, 3, 4]

In [71]:
# find fruits with starting name a
fruits = ["apple", "mango", 'cherry']
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

In [73]:
# sum of all numbers
import functools
functools.reduce(lambda x,y: x+y,[1,2,3,4,5])

15

In [74]:
# find min
functools.reduce(lambda x,y:x if x<y else y, [3,4,6,7,1])

1