In [4]:
# pandas : open source manipulate nd analysis tool

In [6]:
# series like a column and 1d array 
import pandas as pd
a = pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# how to make series 
a = ['Pakistan','india','Bangladesh']
pd.Series(a)

0      Pakistan
1         india
2    Bangladesh
dtype: object

In [12]:
# custom indexes 
marks = [45,65,67,89]
subjects = ['Math','Urdu','English','Persian']
pd.Series(marks, index=subjects)

Math       45
Urdu       65
English    67
Persian    89
dtype: int64

In [14]:
details = pd.Series(marks,index=subjects,name = 'Gulzar k marks')
details

Math       45
Urdu       65
English    67
Persian    89
Name: Gulzar k marks, dtype: int64

In [19]:
# using dictionaries 
marks = {
    'Math' : 45,
    'urdu':34,
    'english':67
}

pd.Series(marks, name = "Gulzar k marks")

Math       45
urdu       34
english    67
Name: Gulzar k marks, dtype: int64

In [20]:
# series attributes 
# 1. size 
# 2. index 
# 3. dtype 
# 4. name 
# 5. values

In [25]:
details.size

4

In [30]:
details.dtype

dtype('int64')

In [34]:
details.name
# pd.name(details)

'Gulzar k marks'

In [36]:
details.is_unique

True

In [38]:
details.index

Index(['Math', 'Urdu', 'English', 'Persian'], dtype='object')

In [42]:
details.values

array([45, 65, 67, 89], dtype=int64)

In [51]:
# series using read_csv 
a = type(pd.read_csv('subs.csv'))
a

pandas.core.frame.DataFrame

In [56]:
# convert data frame to series 
a = pd.read_csv('subs.csv', squeeze = True)
a

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [63]:
b = pd.read_csv('kohli_ipl.csv',index_col='match_no')
b

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [67]:
c = pd.read_csv('bollywood.csv',index_col='movie')
c

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [72]:
# series method 

# 1.head and tail 
c.head(10)
c.tail()

                                    lead
movie
Hum Tumhare Hain Sanam    Shah Rukh Khan
Aankhen (2002 film)     Amitabh Bachchan
Saathiya (film)             Vivek Oberoi
Company (film)                Ajay Devgn
Awara Paagal Deewana        Akshay Kumar

In [75]:
# jab ksi tarika k bias ho to data mai to sample used krenge 
# 2.sample 
b.sample(5)

          runs
match_no
33          13
107         34
24          24
87           0
143         21

In [86]:
# value_counts 
# descending order maicount krta hai 
b.value_counts()
c.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Kashmira Shah        1
Kartik Elangovan     1
Karisma Kapoor       1
Karan Sharma         1
Zulfi Sayed          1
Name: count, Length: 566, dtype: int64

In [89]:
# sort values 
c.sort_values
b.sort_values(ascending=False)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [90]:
# sort index 
c.sort_index()

                                        lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]

In [99]:
# series maths method 
# 1. count (missing values ko count nahai krta hai)
# 2. size (missing values ko count krta hai)
b.count()

runs    215
dtype: int64

In [105]:
# mean ,  median, mode 
b.mean()
b.median()
b.mode()

   runs
0     0

In [106]:
b.min()

runs    0
dtype: int64

In [108]:
b.max()

runs    113
dtype: int64

In [110]:
b.describe()

             runs
count  215.000000
mean    30.855814
std     26.229801
min      0.000000
25%      9.000000
50%     24.000000
75%     48.000000
max    113.000000

In [113]:
# series indexing in python 
x = pd.Series([1,2,3,4,5,6])
x[2]

# negitive index kam nahai karta hai

3

In [116]:
# slicing 
b[6:9]

          runs
match_no
7           34
8            0
9           21

In [119]:
# last five data 
b[-5:]

          runs
match_no
211          0
212         20
213         73
214         25
215          7

In [131]:
# fency indexing 

b[[1,2,3]]

KeyError: "None of [Index([1, 2, 3], dtype='int32')] are in the [columns]"

In [134]:
# indexing with labels 
c['2 States (2014 film)']

KeyError: '2 States (2014 film)'

In [5]:
# editing series 
import numpy as np
import pandas as pd 
marks = [45,67,87,87,65]
subjects = ['math','urdu','eng','science','social']
details = pd.Series(marks,index=subjects)
details

math       45
urdu       67
eng        87
science    87
social     65
dtype: int64

In [8]:
details[1] = 100
details

C:\Users\hafiz\AppData\Local\Temp\ipykernel_19904\2612613408.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  details[1] = 100

math        45
urdu       100
eng         87
science     87
social      65
dtype: int64

In [12]:
# slicing 
runs = pd.Series([12,34,56,78,90])
runs

0    12
1    34
2    56
3    78
4    90
dtype: int64

In [14]:
runs[2:4]=[100,100]
runs

0     12
1     34
2    100
3    100
4     90
dtype: int64

In [16]:
# fency indexing 
runs[[1,2,3]] = [0,0,0] 
runs

0    12
1     0
2     0
3     0
4    90
dtype: int64

In [23]:
# series with python functionalities 
for i in runs.index:
    print(i)

0
1
2
3
4

In [30]:
# boolean indexing series 
# find no of 50 and 100 
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no')
vk
vk[vk>=50].size

215

In [35]:
# find number of ducks 
vk[vk == 0].size

215

In [45]:
subs = pd.read_csv('subs.csv')
subs  
subs['Subscribers gained']  
subs[subs > 200].size

365

In [57]:
# find actor who have done 200 movies 
movie =pd.read_csv('bollywood.csv')
movie

num_movies = movie.value_counts()
num_movies[num_movies > 20].size

0